/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: linear-gradient(to top, #00d4ff, #000);
  --line-color: linear-gradient(to left top, #82ff86 20%, #144425, #104e1c);
  --flower-center: radial-gradient(circle, #000, #ff5e00);
  --leaf-color: radial-gradient(circle, #82ff86, #104e1c);
  --petal-color: radial-gradient(circle, #ff5e00, #ffbb00);
}

.body-daisy-flower {
  background-image: var(--color-bg);
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

