<div class="back-pulse-container">
  <div class="h-screen flex flex-col">
    <app-message-header [title]="start.title" [subtitle]="start.subtitle"></app-message-header>
    <div class="m-auto">
      <app-heart-pulse color="#FFFD8C" size="15rem" (clickHeart)="goFlowerPage()"></app-heart-pulse>
    </div>
  </div>
</div>

<div class="z-20 fixed bottom-0 left-5 right-5 mb-5 lg:mb-10">
  <div class="flex justify-center">
    <button type="button" (click)="goFlowerPage()"
            class="bg-violet-800 rounded-lg px-4 py-2 text-white transition hover:bg-violet-950">
      <span class="font-bold text-xl">Toca el corazón</span>
    </button>
  </div>
</div>
