<div class="back-pulse-container">
  <div class="h-screen flex flex-col">
    <app-message-header [title]="start.title" [subtitle]="start.subtitle"></app-message-header>
    <div class="m-auto">
      <app-heart-pulse color="#FFFD8C" size="15rem" (clickHeart)="goFlowerPage()"></app-heart-pulse>
    </div>
  </div>
</div>

<div id="floating_heart_button" class="z-20 fixed bottom-0 left-5 right-5 mb-5 lg:mb-10">
  <div class="flex justify-center">
    <button type="button" (click)="goFlowerPage()"
            class="btn-violet">
      <span class="font-bold text-xl">Toca el corazón</span>
    </button>
  </div>
</div>

<div class="bg-gray-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-10">
    <p class="text-center font-normal">
      Crea tu propio mensaje personalizado en
      <a class="font-medium text-lg underline" routerLink="console">Sorpresa Amarilla</a>
    </p>
  </div>
</div>
